/.env
/config/*.local.php
/vendor/
/.phpunit.cache/
/.phpunit.result.cache
/storage/logs/*
!/storage/logs/.gitkeep
/storage/tmp/*
!/storage/tmp/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
.DS_Store
__MACOSX/
__pycache__/
*.pyc
*.*~lock~
.VSCodeCounter
ftp-kr*.*